html, body {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    background-color: #151515;
}
#background-view {
    background: url("img/hennythingispossible.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.view {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
}
.fixed {
    position: fixed;
}
#biography {
    position: relative;
    padding-top: 100%;
    padding-top: 100vh;
}
.biography {
    background-color: #151515;
}
.biography:first-of-type {
    -webkit-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.6);
    box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.6);
}
.bio {
    font-size: 19px;
    color: #aaaaaa;
}
.bio-header {
    color: #cccccc !important;
}
